body {
	background-image: linear-gradient(to right, rgba(178, 178, 178, 1), rgba(255, 255, 255, 0)), url('https://images2.alphacoders.com/149/thumb-1920-149990.jpg');
	background-size:cover, 150%;
	}
#container {
	margin: 10px;
	padding: 15px;
	display: grid;
}
h1 {
	font-size: 5em;
	font-weight: 800px;
}
#title {
	color: gold;
}
p {
	font-weight: 400px;
}
#description {
	font-size: 1.3em;
	font-family: cursive;
	color: #FFFFFF;
	padding-bottom: 50px;
}
#survey-form {
	
}
input:invalid {
  border: 2px dashed red;
}

input:valid {
  border: 2px solid black;
}
/** Form Styling **/
form {
	display: table;
}
div.form {
	display: table-row;
}
label {
	color: #FFFFFF;
	font-family: cursive;
	font-size: 1em;
	margin: 15px;
	padding: 25px;
	}
label, input , select, output {
    display: table-cell;
    margin-bottom: 10px;
}
button {
	background-color: black;
	color: gold;
	font-family: cursive;
	font-size: 2em;
	padding: 1px;
}
